/* ../../desktop.blocks/page/page.css begin */
.page {
 font-family: Tahoma, sans-serif;
 min-height: 100%;
 margin: 0;
 padding-top: 100px;
 background: #000;
}

/* ../../desktop.blocks/page/page.css end */
/* ../../desktop.blocks/sssr/sssr.css begin */
.sssr_loading .content {
 opacity: 0.5;
}

/* ../../desktop.blocks/sssr/sssr.css end */
/* ../../desktop.blocks/header/header.css begin */
.header {
 position: fixed;
 z-index: 1;
 top: 0;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 width: 100%;
 padding: 10px 10%;
 background: #f6f6f6;
 box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
}

.header .button {
 margin-left: 10px;
}

/* ../../desktop.blocks/header/header.css end */
/* ../../libs/bem-components/design/common.blocks/input/_theme/input_theme_normal.roo begin */
.input_theme_normal {
 font-family: Arial, Helvetica, sans-serif;
 display: inline-block;
}
 .input_theme_normal .input__box {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  background: #fff;
 }
 .input_theme_normal .input__control {
  font: inherit;
  line-height: inherit;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -1px;
  /* Hack for IE 9+ (any negative value allowed) */
  padding: 0;
  width: 100%;
  border: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }
  /* лишние отступы у текста */
  .input_theme_normal .input__control::-webkit-search-decoration {
   -webkit-appearance: none;
  }
  /* нативный крестик */
  .input_theme_normal .input__control::-webkit-search-cancel-button {
   display: none;
  }
  .input_theme_normal .input__control::-webkit-input-placeholder {
   color: #999;
   text-indent: 0;
  }
  .input_theme_normal .input__control::-moz-placeholder {
   opacity: 1;
   color: #999;
  }
  .input_theme_normal .input__control::-ms-clear {
   display: none;
  }
 .input_theme_normal .input__clear {
  position: absolute;
  top: 0;
  right: 0;
  cursor: text;
  -webkit-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  opacity: 0;
  background: 50% 50% no-repeat;
 }
  .input_theme_normal .input__clear_visible {
   opacity: 0.3;
  }
   .input_theme_normal .input__clear_visible:hover {
    cursor: pointer;
    opacity: 1;
   }
 .input_theme_normal.input_focused .input__box {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 10px #fc0;
 }
 .input_theme_normal.input_disabled {
  background: rgba(0, 0, 0, 0.08);
  box-shadow: none;
 }
  .input_theme_normal.input_disabled .input__clear {
   display: none;
  }
  .input_theme_normal.input_disabled .input__box,
  .input_theme_normal.input_disabled .input__control {
   color: rgba(0, 0, 0, 0.4);
   cursor: auto;
  }
 .input_theme_normal.input_size_s .input__clear,
 .input_theme_normal.input_size_m .input__clear {
  width: 24px;
  height: 24px;
  background-image: url("../../libs/bem-components/design/common.blocks/input/_theme/_normal/clear_size_s.svg");
  background-position: 7px 50%;
 }
 .input_theme_normal.input_size_s {
  font-size: 13px;
  line-height: 24px;
 }
  .input_theme_normal.input_size_s .input__control {
   height: 24px;
   padding-left: 6px;
  }
  .input_theme_normal.input_size_s.input_has-clear .input__box {
   padding-right: 24px;
  }
 .input_theme_normal.input_size_m {
  font-size: 13px;
  line-height: 28px;
 }
  .input_theme_normal.input_size_m .input__control {
   height: 28px;
   padding-left: 8px;
  }
  .input_theme_normal.input_size_m.input_has-clear .input__box {
   padding-right: 28px;
  }
  .input_theme_normal.input_size_m .input__clear {
   width: 28px;
   height: 28px;
   background-position: 9px 50%;
  }
 .input_theme_normal.input_size_l .input__clear,
 .input_theme_normal.input_size_xl .input__clear {
  width: 32px;
  height: 32px;
  background-image: url("../../libs/bem-components/design/common.blocks/input/_theme/_normal/clear_size_l.svg");
  background-position: 9px 50%;
 }
 .input_theme_normal.input_size_l {
  font-size: 15px;
  line-height: 32px;
 }
  .input_theme_normal.input_size_l .input__control {
   height: 32px;
   padding-left: 10px;
  }
  .input_theme_normal.input_size_l.input_has-clear .input__box {
   padding-right: 32px;
  }
 .input_theme_normal.input_size_xl {
  font-size: 18px;
  line-height: 38px;
 }
  .input_theme_normal.input_size_xl .input__control {
   height: 38px;
   padding-left: 12px;
  }
  .input_theme_normal.input_size_xl.input_has-clear .input__box {
   padding-right: 38px;
  }
  .input_theme_normal.input_size_xl .input__clear {
   width: 38px;
   height: 38px;
   background-position: 12px 50%;
  }

/* ../../libs/bem-components/design/common.blocks/input/_theme/input_theme_normal.roo end */
/* ../../libs/bem-components/design/common.blocks/button/_theme/button_theme_normal.roo begin */
.button_theme_normal {
 font-family: Arial, Helvetica, sans-serif;
 position: relative;
 display: inline-block;
 margin: 0;
 padding: 0;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 color: #000;
 border: 0;
 border-radius: 3px;
 outline: 0;
 background: rgba(0, 0, 0, 0.2);
 text-align: center;
 white-space: nowrap;
}
 .button_theme_normal::-moz-focus-inner {
  padding: 0;
  border: 0;
 }
 .button_theme_normal .icon,
 .button_theme_normal .button__text {
  /*
   * These rules fixes Opera 12+ && IE 9 bug with extra top margin when pressed
   * Warning: bug still can be reproduced by clicking on button's border
   * TODO: try to fix
   */
  position: relative;
  display: inline-block;
 }
 .button_theme_normal.button_type_link {
  text-decoration: none;
 }
 /* Decorative element (inner background) */
 .button_theme_normal:before {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  content: '';
  border-radius: 2px;
  background: #fff;
 }
 .button_theme_normal.button_hovered {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
 }
 .button_theme_normal.button_focused {
  z-index: 1;
  background: rgba(178, 142, 0, 0.6);
  box-shadow: 0 0 10px #fc0;
 }
 .button_theme_normal.button_pressed:before {
  background: #f6f5f3;
 }
 .button_theme_normal.button_checked {
  background: rgba(153, 122, 0, 0.5);
 }
  .button_theme_normal.button_checked:before {
   background: #ffeba0;
  }
  .button_theme_normal.button_checked.button_pressed {
   background: rgba(129, 103, 0, 0.6);
  }
   .button_theme_normal.button_checked.button_pressed:before {
    background: #fee481;
   }
  .button_theme_normal.button_checked.button_hovered {
   background: rgba(129, 103, 0, 0.6);
  }
 .button_theme_normal.button_action {
  background: rgba(191, 153, 0, 0.8);
 }
  .button_theme_normal.button_action:before {
   background: #ffdb4d;
  }
  .button_theme_normal.button_action.button_pressed:before {
   background: #fc0;
  }
  .button_theme_normal.button_action.button_hovered {
   background: rgba(159, 127, 0, 0.8);
  }
 .button_theme_normal.button_pseudo {
  overflow: hidden;
  background: 0 !important;
 }
  .button_theme_normal.button_pseudo:before {
   background: 0;
   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
  .button_theme_normal.button_pseudo.button_hovered:before {
   box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  }
  .button_theme_normal.button_pseudo.button_focused:before {
   box-shadow: 0 0 0 1px rgba(178, 142, 0, 0.6);
  }
  .button_theme_normal.button_pseudo.button_pressed:before {
   background: rgba(0, 0, 0, 0.05);
  }
  .button_theme_normal.button_pseudo.button_checked:before {
   background: #ffeba0;
   box-shadow: 0 0 0 1px rgba(153, 122, 0, 0.5);
  }
  .button_theme_normal.button_pseudo.button_checked.button_hovered:before {
   box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
  }
  .button_theme_normal.button_pseudo.button_checked.button_pressed:before {
   background: #fee481;
   box-shadow: 0 0 0 1px rgba(129, 103, 0, 0.6);
  }
 .button_theme_normal.button_disabled {
  color: rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.08);
 }
  .button_theme_normal.button_disabled:before {
   display: none;
  }
  .button_theme_normal.button_disabled.button_checked:before {
   display: block;
   background: #ffeba0;
  }
  .button_theme_normal.button_disabled .icon {
   opacity: 0.3;
  }
 .button_theme_normal.button_size_s {
  font-size: 13px;
  line-height: 24px;
 }
  .button_theme_normal.button_size_s .icon {
   width: 24px;
  }
  .button_theme_normal.button_size_s .button__text {
   padding: 0 10px;
  }
 .button_theme_normal.button_size_m {
  font-size: 13px;
  line-height: 28px;
 }
  .button_theme_normal.button_size_m .icon {
   width: 28px;
  }
  .button_theme_normal.button_size_m .button__text {
   padding: 0 13px;
  }
 .button_theme_normal.button_size_l {
  font-size: 15px;
  line-height: 32px;
 }
  .button_theme_normal.button_size_l .icon {
   width: 32px;
  }
  .button_theme_normal.button_size_l .button__text {
   padding: 0 15px;
  }
 .button_theme_normal.button_size_xl {
  font-size: 18px;
  line-height: 38px;
 }
  .button_theme_normal.button_size_xl .icon {
   width: 38px;
  }
  .button_theme_normal.button_size_xl .button__text {
   padding: 0 18px;
  }
 .button_theme_normal .icon + .button__text {
  padding-left: 0;
 }
 .button_theme_normal .button__text:not(:last-child) {
  padding-right: 0;
 }
 .button_theme_normal.button_togglable_radio {
  border-radius: 0;
 }
  .button_theme_normal.button_togglable_radio:before {
   right: 0;
   border-radius: 0;
  }
  .button_theme_normal.button_togglable_radio.button_checked:before {
   left: 1px;
   right: 1px;
  }
  .button_theme_normal.button_togglable_radio.button_checked + .button:before {
   left: 0;
  }
  .button_theme_normal.button_togglable_radio:first-child {
   border-radius: 3px 0 0 3px;
  }
   .button_theme_normal.button_togglable_radio:first-child:before {
    border-radius: 2px 0 0 2px;
   }
  .button_theme_normal.button_togglable_radio:last-child {
   border-radius: 0 3px 3px 0;
  }
   .button_theme_normal.button_togglable_radio:last-child:before {
    border-radius: 0 2px 2px 0;
    right: 1px;
   }

/* ../../libs/bem-components/design/common.blocks/button/_theme/button_theme_normal.roo end */
/* ../../desktop.blocks/spin/spin.css begin */
.spin {
 margin-left: 1em;
 vertical-align: middle;
}

/* ../../desktop.blocks/spin/spin.css end */
/* ../../libs/bem-components/design/common.blocks/spin/_theme/spin_theme_simple.roo begin */
.spin_theme_simple {
 display: none;
 width: 20px;
 height: 20px;
 border: 2px dashed #000;
 border-radius: 50%;
}
 .spin_theme_simple.spin_progress {
  display: inline-block;
  -webkit-animation: spin_theme_simple 2s infinite linear;
  animation: spin_theme_simple 2s infinite linear;
 }

@-webkit-keyframes spin_theme_simple {
 from {
  -webkit-transform: rotate(0);
  transform: rotate(0);
 }
 to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
 }
}

@keyframes spin_theme_simple {
 from {
  -webkit-transform: rotate(0);
  transform: rotate(0);
 }
 to {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
 }
}

/* ../../libs/bem-components/design/common.blocks/spin/_theme/spin_theme_simple.roo end */
/* ../../desktop.blocks/content/content.css begin */
.content {
 padding: 10px 10%;
 -webkit-column-count: 4;
 -moz-column-count: 4;
 column-count: 4;
 -webkit-column-gap: 15px;
 -moz-column-gap: 15px;
 column-gap: 15px;
}

/* ../../desktop.blocks/content/content.css end */
/* ../../desktop.blocks/island/island.css begin */
.island {
 font-size: 18px;
 line-height: 140%;
 position: relative;
 display: inline-block;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 width: 100%;
 margin-bottom: 15px;
 padding: 15px 5px 5px 15px;
 border-radius: 3px;
 background: #fff;
 box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
}

.island__footer {
 margin-top: 10px;
}

.island__image {
 display: block;
 width: 100%;
 border-radius: 3px;
}

/* ../../desktop.blocks/island/island.css end */
/* ../../libs/bem-components/common.blocks/image/image.roo begin */
.image {
 border: 0;
}